bravado==9.2.2
crypto
cryptography==42.0.4
docker==7.0.0
flaky==3.7.0
flask
jsonschema<4.0
minio==7.2.3
pluggy==1.4.0
pycrypto
pymongo==4.6.1
pytest-ordering==0.6
pytest==8.0.0
pyyaml
redis==5.0.1
redo==2.0.4
requests
semver==3.0.2
stripe
tornado
twisted
tz
urllib3<2
