bravado==9.2.2
boto3==1.34.102
crypto
cryptography==42.0.7
docker==7.0.0
flaky==3.8.1
flask
jsonschema<5.0
minio==7.2.7
pluggy==1.5.0
pycrypto
pymongo==4.7.2
pytest-ordering==0.6
pytest==8.2.0
pyyaml
redis==5.0.4
redo==2.0.4
requests==2.32.0
semver==3.0.2
stripe
tornado
twisted
tz
urllib3<3
